<!DOCTYPE html>
{% autoescape true %}
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Quixotic Art (Ankur Vatsa)</title>
        <link type="text/css" rel="stylesheet" href="assets/css/main.css" />
        <link href='https://fonts.googleapis.com/css?family=Exo+2|Average' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="assets/js/jquery-1.11.3.js"></script>
        <script type="text/javascript" src="assets/js/myscript.js"></script>
    </head>
    <body>
        <div id="'fb-root></div>
        <h1 id="fb-welcome"></h1>
        <form>Guestbook name:
            <input value="{{ guestbook_name }}" name="guestbook_name">
            <input type="submit" value="Switch">
        </form>
        <hr/>
        <form action="/sign?guestbook_name={{ guestbook_name }}" method="post" enctype="multipart/form-data">
            <fieldset>
                <div><textarea name="content" rows="3" cols="185"></textarea></div>
                <div>
                    <table id="mytable1" class="mytables">
                        <tr>
                        <td><input type="file" name="img" accept="image/*"></td>
                        <td><input type="submit" value="Sign Guestbook"></td>
                        </tr>
                    </table>
                </div>
            </fieldset>
        </form>
        <hr/>
        <fieldset>
                <div>
                    <table id="mytable2" class="mytables">
                        <tbody>
                        {% for greeting in greetings %}
                            <tr>
                                <td class="left">
                                    <blockquote>
                                        {{ greeting.content }}
                                        <footer>
                                            -
                                            {% if greeting.author %}
                                                <a href="mailto:{{ greeting.author.email }}">{{ greeting.author.email }}</a>
                                                {% if user and user.user_id() == greeting.author.identity %}
                                                    (You)
                                                {% endif %}
                                            {% else %}
                                                Annonymous
                                            {% endif %}
                                        </footer>
                                    </blockquote>
                                </td>
                                <td class="right"><img src="/img?img_id={{ greeting.key.urlsafe() }}" alt="Mountain View" style="width:150px;height:100px;"></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </fieldset>
        <a href="{{ url|safe }}">{{ url_linktext }}</a>
    </body>
</html>
{% endautoescape %}